@import "tailwindcss";

:root{
  --gold:#C89B3C;
  --gold-light:#E6C77B;
  --dark:#08111F;
  --card:#101828;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#08111F;
  color:white;
  font-family:var(--font-body);
}

h1,h2,h3,h4,h5{
  font-family:var(--font-heading);
}

section{
  padding:90px 0;
}

.container-custom{
  max-width:1320px;
  margin:auto;
  padding-inline:20px;
}

.gold{
  color:var(--gold);
}

.bg-gold{
  background:var(--gold);
}

.card-dark{
  background:var(--card);
}

.shadow-gold{
  box-shadow:0 0 30px rgba(200,155,60,.25);
}